In [26]:
import pandas as pd
import numpy as numpy
import matplotlib.pyplot as plt
import seaborn as sns

In [27]:
data = pd.read_csv("data/train_dataset.csv")
values = pd.read_csv("data/train_salaries.csv")
combined_data = pd.concat([data, values], axis = 1)

In [28]:
combined_data.head()

,jobId,companyId,jobType,degree,major,industry,yearsExperience,milesFromMetropolis,jobId,salary
0,JOB1362684407687,COMP37,CFO,MASTERS,MATH,HEALTH,10,83,JOB1362684407687,130
1,JOB1362684407688,COMP19,CEO,HIGH_SCHOOL,NONE,WEB,3,73,JOB1362684407688,101
2,JOB1362684407689,COMP52,VICE_PRESIDENT,DOCTORAL,PHYSICS,HEALTH,10,38,JOB1362684407689,137
3,JOB1362684407690,COMP38,MANAGER,DOCTORAL,CHEMISTRY,AUTO,8,17,JOB1362684407690,142
4,JOB1362684407691,COMP7,VICE_PRESIDENT,BACHELORS,PHYSICS,FINANCE,8,16,JOB1362684407691,163

In [29]:
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 10 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   jobId                1000000 non-null  object
 1   companyId            1000000 non-null  object
 2   jobType              1000000 non-null  object
 3   degree               1000000 non-null  object
 4   major                1000000 non-null  object
 5   industry             1000000 non-null  object
 6   yearsExperience      1000000 non-null  int64
 7   milesFromMetropolis  1000000 non-null  int64
 8   jobId                1000000 non-null  object
 9   salary               1000000 non-null  int64
dtypes: int64(3), object(7)
memory usage: 76.3+ MB

In [30]:
combined_data.drop("jobId", axis = 1, inplace = True)

In [31]:
unique_values = dict()
for column in combined_data.columns:
    if combined_data[column].dtype == "object":
        unique_values[column] = combined_data[column].unique()

In [32]:
unique_values

{'companyId': array(['COMP37', 'COMP19', 'COMP52', 'COMP38', 'COMP7', 'COMP15',
        'COMP24', 'COMP20', 'COMP41', 'COMP56', 'COMP4', 'COMP54',
        'COMP57', 'COMP14', 'COMP61', 'COMP58', 'COMP3', 'COMP44',
        'COMP30', 'COMP27', 'COMP34', 'COMP11', 'COMP31', 'COMP49',
        'COMP0', 'COMP1', 'COMP36', 'COMP47', 'COMP8', 'COMP42', 'COMP50',
        'COMP53', 'COMP48', 'COMP45', 'COMP46', 'COMP2', 'COMP5', 'COMP55',
        'COMP29', 'COMP40', 'COMP33', 'COMP22', 'COMP12', 'COMP25',
        'COMP6', 'COMP23', 'COMP17', 'COMP28', 'COMP21', 'COMP26',
        'COMP43', 'COMP51', 'COMP10', 'COMP59', 'COMP13', 'COMP39',
        'COMP16', 'COMP9', 'COMP32', 'COMP62', 'COMP35', 'COMP18',
        'COMP60'], dtype=object),
 'jobType': array(['CFO', 'CEO', 'VICE_PRESIDENT', 'MANAGER', 'JUNIOR', 'JANITOR',
        'CTO', 'SENIOR'], dtype=object),
 'degree': array(['MASTERS', 'HIGH_SCHOOL', 'DOCTORAL', 'BACHELORS', 'NONE'],
       dtype=object),
 'major': array(['MATH', 'NONE', 'PHYSICS', 'CHEMISTRY', 'COMPSCI', 'BIOLOGY',
        'LITERATURE', 'BUSINESS', 'ENGINEERING'], dtype=object),
 'industry': array(['HEALTH', 'WEB', 'AUTO', 'FINANCE', 'EDUCATION', 'OIL', 'SERVICE'],
       dtype=object)}